.card {
    font-family: arial;
    font-size: 20px;
    text-align: center;
    color: black;
    background-color: white;
}
@font-face {
    font-family: irohamaru mikami;
    src: url('_irohamaru mikami.ttf');
}

.card-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: irohamaru mikami;
}

.card-tags-container {
    margin-top: auto;
    align-self: flex-start;
    background-color: #f5f5f5;
}

.separator {
    border: 0;
    height: 1px;
    background-color: #ccc;
    width: 100%;
    margin: 16px 0;
}

.center {
    text-align: center;
}

.bottom {
    font-size: 12px;
    text-align: left;
    padding: 4px;
    overflow: hidden;
}

.left {
    text-align: left;
}

.card.nightMode .card-tags-container {
    background-color: #333;
}
